.chart {
    .title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  
    .recharts-bar-rectangle {
      fill: #F0F8FF; 
      rx: 5px; 
      ry: 5px; 
    }

    .recharts-bar-rectangle:hover {
      filter: none !important;
      stroke: none !important;

    }
    
  }
  